*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

:root {
    --metro-azul: #003DA5;
    --metro-rojo: #E30613;
    --metro-blanco: #FFFFFF;
}

@font-face {
    font-family: "Sans Stack";
    src: url(../fonts/static/StackSansNotch-ExtraLight.ttf);
}


.cabecera {
    background-color: var(--metro-azul);
    color: var(--metro-blanco);
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}

.cabecera__contenedor {
    display: flex;
    align-items: center;
}

.cabecera__logo {
    height: 180px;
    padding: 20px 0px;
}

.cabecera__titulo {
    font-size: 4em;
    font-family: "Sans Stack";
}

.menu {
    display: flex;
    list-style: none;
    gap: 15px;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.menu__opcion {
    color: var(--metro-blanco);
    font-family: "Sans Stack";
    font-size: 0.7rem;

}

footer{
    font-family: "Sans Stack";
    font-size: 1rem;
    color:#FFFFFF;
    background-color: #E30613;
    display: flex;
    justify-content: center;
}
